name: CD Pipeline - Deploy to Render

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull zaheer5580/l1f22bsse0078-uni-notice-board:latest


      - name: Trigger Render Deployment
        run: |
          curl -X POST "${{ secrets.RENDER_CALLBACK_URL }}"
